@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
/**************************CSS Reset***********************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*****************************General****************************/

body{
    width:100vw;

    margin:0;
    padding:0;
    display:block;
}

a{
    text-decoration: none;
}
a:hover{
    text-decoration:none;
}

.wrap {
    width:100%;
    height:100%;
    margin:0 auto;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.header{
    width:100%;
    height:45px;
    position:sticky;
    top:0px;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    background-color:rgba(20, 20, 20, .8);
    z-index:100;
}

.logo{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100%;
    width:100px;
}

.navigation{
    display:flex;
    justify-content: flex-end;
    height:100%;
    width:70%;
}

.navigation span{
    display:flex;
    margin:0 20px;
    padding:auto 0;
    align-items: center;
}

.navigation span a{
    width:80px;
    height:30px;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius:30px;
    transition:all ease 0.5s;
    /* background:#FFDEE9; */
    background-color:rgba(20, 20, 20, .08);
    color:cornflowerblue;
    font-size:18px;
    font-weight:700;
}

.navigation span a:hover{
    background-color:cornflowerblue;
    color:white;
}

.menu {
    width:50px;
    padding-right:10px;
}

.menu button{
    border:none;
    background:transparent;
    width:100%;
    height:100%;
    font-size:30px;
    transition:0.2s;
    color:cornflowerblue;
    outline:none;
}
.menu button:hover{
    color:rgb(230, 46, 33);
}

.menu-bar{
    overflow:hidden;
    position:absolute;
    width:0px;
    height:100%;
    z-index:10;
    top:45px;
    right:0;
    background-color:rgba(20, 20, 20, .8);
    transition:all ease 0.5s;
}

.menu-bar ul{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding:0px;
    margin:0;
}

.menu-bar ul li{
    padding:20px 0;
    width:100%;
    display:flex;
    justify-content: center;
    font-size:18px;
    border-bottom:1px solid grey;
    cursor:pointer;
    transition:all ease 0.2s;
}
.menu-bar ul li:hover{
    background-color:rgba(78, 78, 189, 0.5);
}


.container{
    display:block;
    width:100%;

    /* background-color:rgba(134, 134, 134, 0.3); */
    background-color:#f7fcff;
    padding:0;
}

.temp{
    display:flex;
    position:absolute;
    width:0px;
    height:100%;
    z-index:10;
    top:45px;
    right:0;
    background-color:rgba(20, 20, 20, .8);
    transition:all ease 0.5s;
}

/*************************contents**************************/

.style-content{
    width:95%;
    flex-wrap:wrap;
    margin:20px auto;
    display:flex;
    flex-direction: row;
}

.style-card{
    display:inline-block;
    margin:10px 10px;
    background-color:#fff;
    box-shadow: 0px 30px 50px rgba(0,0,0,0.5);
    border-radius:10px;
    position:relative;
    overflow:hidden;
}

.card1{ width:300px; height:300px; }
.card2{ width:500px; height:300px; display:flex; justify-content: center; align-items: center;}
.card3{ width:500px; height:300px; }

.card1 .imgBox{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    transition:0.5s;
}

.card1:hover .imgBox{
    transform:scale(1) translateY(-100%);
}

.card1 .contentBox{
    position:relative;
    top:0;
    left:0;
    width:100%;
    height:100%;
    /* padding:20px; */
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition:0.5s;
    background-color:#ff3579;
    transform: scale(1) translateY(calc(100% - 5px));
}

.card1:hover .contentBox{
    transform: scale(1);
}

.card1 .contentBox .icon img{
    max-width:80px;
    filter:invert(1);
}

.card1 .contentBox h3{
    color:#fff;
    text-transform: uppercase;
    font-size:16px;
    letter-spacing: 2px;
    margin-top:20px;
}

.card1 .contentBox h4{
    color:#fff;
    font-size:12px;
    font-weight: 600;
    letter-spacing:2px;
}

.card2 .clock{
    width:400px;
    height:150px;
    display:flex;
    justify-content: center;
    align-items: center;
    background: rgba(37, 37, 37, 0.3);
    border-radius:10px;
    box-shadow:0 0 0 5px #353535, 0 0 0 10px #3e3e3e, inset 0 0 10px rgba(0,0,0,1), 0 5px 20px rgba(0,0,0,.5);
}

.card2 .clock div{
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    background: #000;
    align-items: center;
    border-radius:10px;
    transition:all ease 1s;
}

.card2:hover .clock div{
    background:linear-gradient(0deg, #666, #000);
}

.card2 .clock div h1{
    font-size:6em;
    font-family: 'Noto Sans', sans-serif;
    color: #fff;
    text-shadow: 0 0 20px rgb(0, 85, 255);
    transform:scale(0);
    transition:1s;
}

.card2 .clock div h1:after{
    content:attr(data-text);
    position:absolute;
    top:0;
    left:0;
    font-family: 'Noto Sans', sans-serif;
    color:rgb(0,85,255);
    z-index:-1;
    filter:blur(5px);
}

.card2 .clock div h1:before{
    content:'';
    top:0;
    left:0;
    position:absolute;
    width:100%;
    height:100%;
    background:rgb(61, 126, 255);
    z-index:-2;
    opacity:.5;
    filter:blur(40px);
}

.card2:hover .clock div h1{
    transform:scale(1);
}

.footer{
    display:flex;
    flex-direction:row;
    justify-content: center;
    width:100%;
    height:300px;
    background-color:rgba(20,20,20,.8);
}

.footer article {
    margin-top:60px;
    width:40%
}

.footer article h1{
    font-size:2em;
    color:#fff;
}

.footer article div{
    border:1px solid rgb(221, 66, 55);
    width:100px;
    margin-bottom:20px;
}

.footer article p{ color:rgb(202, 202, 202); margin:5px 0;}

.footer article p span, .footer article p i{
    font-size:24px;
}

.loader{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
}

.loader h1{
    padding:0;
    margin:0;
    text-transform: uppercase;
    font-size:9em;
    font-weight: 900;
    color:rgba(0,0,0,.1);
    background-image:url(./images/images.jpeg);
    background-repeat:repeat-x;
    -webkit-background-clip: text;
    animation: animate 15s linear infinite;
}

@keyframes animate{
    0%{
        background-position:left 0px top 120px;
    }
    25%{
        background-position:left 212px top 50px;
    }
    50%{
        background-position:left 424px top -30px;
    }
    75%{
        background-position:left 636px top 50px;
    }
    100%{
        background-position:left 848px top 120px;
    }
}

.style-content2{
    width:100vw;
    height:100vh;
    border:1px solid black;
    display:flex;
    align-items: center;
    overflow:hidden;
}
.slide{
    width:300vw;
    height:100%;
    left:0px;
    display:flex;
    position:relative;
    border:1px solid black;
    transition:all ease 1s;
}

.slide-content{
    width:100vw;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    position:relative;
    z-index:1;
}
.slide-content:after{
    width:100%;
    height:100%;
    content:'';
    filter:opacity(.55);
    background-image:url(./images/background.jpeg);
    background-repeat: no-repeat;
    background-size:cover;
    z-index:-1;
    top:0;
    left:0;
    position:absolute;
}
.style-content2 a span{ font-size:100px; z-index:10; position:absolute; color:#000; transition:0.1s; cursor:pointer;}
.style-content2 a:hover span{ color:rgb(241, 48, 34); }
.style-content2 a:nth-child(3) span{ right:0; }

.flip-content{
    position:relative;
    display:flex;
    justify-content:center;
    width:100%;
    height:250px;
    border:1px solid black;
    perspective:1000px;
    transform-style:preserve-3d;
}

.left{
    width:250px;
    height:100%;
    border:1px solid blue;
    display:inline-block;
}

.right{
    width:250px;
    height:100%;
    border:1px solid red;
    display:inline-block;
    transition:all ease 2s;
    transform-origin:left;
    transform: rotateY(0deg);
}

.flip-content:hover .right{
    transform: rotateY(-180deg);
}